* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: Exo; /* Имя шрифта */
    src: url(fonts/Exo2.0-Thin.otf)  format("opentype");
   }
h1, h2{
   font-weight: bold; 

}
h2 {
    font-size: 17px;
}
.info{
    line-height: 1;
    color: dimgray;
}
.number {
    font-weight: bold; 
}
.title {
    margin: 10px 0;
    line-height: 1.2;
    
}
body {
    background-image:  url(img/bg.png);  
}
.layout-positioner {       
    margin: 0 auto;   
}
.card {
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    background-color: white;   
    border-radius: 10px;    
    margin: 5px auto;    
    background: url(img/cat.png) no-repeat, #ffffff;
    background-position: -50px 180px;   
    position:relative;   
    vertical-align: top;
}
.text-block {
    text-align: left;
    margin: 15px 0 0 30px;
    font-family:  "Tahoma", sans-serif;
    font-size: 14px; 
}
.circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1px;
    width: 80px;
    height: 80px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
}

.first-card{
     border: 5px solid #0fb0ff;
}
.first-card .circle{
   background: #0fb0ff;
}
.second-card{
    border: 5px solid #FFD700;
    z-index: 2;    
}

.second-card .circle{
   background: #FFD700;
}
.second-card:before{
    content: "";
    position:absolute;
    z-index: 3;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(255,255,255,0.5);
}

.third-card{
     border: 5px solid #DC143C;
}
.third-card .circle{
     background: #DC143C;
}
.shadow{
    position: absolute;
    left: 528px;
    background-image: none;
    background-color:white;
    z-index: 1;
}

.circle-text{
    margin: 10px; /* почему margin: auto 0; не выравнивает по вертикали?? */
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family:sans-serif;   
    line-height: 1;
}
.small-text{
    font-size: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 768px) {
    
    .card {
        display: inline-block;                       
        margin: 20px 20px;
    }
    .layout-positioner {       
        text-align: center;
    }   
}

@media (min-width: 1440px) {
    
    .card {                           
        margin: 20px 20px 20px 0;
    }
}