* {
  margin: 0;
  padding: 0;
}
@font-face {
    font-family: Exo; /* Имя шрифта */
    src: url(fonts/Exo2.0-Thin.otf)  format("opentype");
   }
h1, h2{
   font-weight: bold; 

}
h2 {
    font-size: 17px;
}
.info{
    line-height: 1;
    color: dimgray;
}
.number {
    font-weight: bold; 
}
.name {
    margin: 10px 0;
    line-height: 1.2;
    
}
body {
    background-image:  url(img/bg.png);  
}
.layout-positioner {       
    margin: 0 auto; 
    text-align: center;
}
.container-card{
    margin: 5px auto;
    display: inline-block;
    vertical-align: top;
    
}
.card-caption{
    color: white;
    font-family: sans-serif;
    padding: 5px; 
    font-size: 13px;
    font-weight: 700;
}
.container-card:nth-child(1) .card-caption span{
    color:#0fb0ff;
    border-bottom: 1px dashed #0fb0ff;
}
.container-card:nth-child(2) .card-caption span{
    color:#FFD700;
    
}
.card {
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    background-color: white;   
    border-radius: 10px;    
 /*   margin: 5px auto;    */   
    background: url(img/cat.png) no-repeat, #ffffff;
    background-position: -50px 180px;   
    position:relative;   
    
}
.text-block {
    text-align: left;
    margin: 15px 0 0 30px;
    font-family:  "Tahoma", sans-serif;
    font-size: 14px; 
}
.circle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 1px;
    width: 80px;
    height: 80px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    text-align:center;
}

.first-card{
     border: 5px solid #0fb0ff;
}
.first-card .circle{
   background: #0fb0ff;
}
.second-card{
    border: 5px solid darkgray;
    z-index: 2;    
}

.second-card .circle{
   background: darkgray;
}
.second-card:before{
    content: "";
    position:absolute;
    z-index: 3;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
}

.third-card{
     border: 5px solid #DC143C;
}
.third-card .circle{
     background: #DC143C;
}

.circle-text{
    margin: 10px; /* почему margin: auto 0; не выравнивает по вертикали?? */
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    font-family:sans-serif;   
    line-height: 1;
}
.small-text{
    font-size: 20px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*
.title{
    width:100%;
    padding:5px;
    min-height: 30px;
}
.title span{
    display: block;
    font-family: Exo;
    color: white;
    font-size: 40px;
    width: 35%;
    margin: 0 auto;
}
*/
.title{
    width:100%;
    padding: 10px 0;
    text-align: center;
}
.title span{
    font-family: Exo;
    color: white;
    font-size: 35px;
    line-height: 1;
}

@media (min-width: 768px) {
    
    .container-card {                             
        margin: 20px 20px;
    }
     
}

@media (min-width: 1440px) {
    .title{
        padding-top: 100px;
    }
    .container-card {                           
        margin: 20px 20px 20px 0;
    }
}